* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:root {
    --dark: #44000D;
    --moderate: #83142C;
    --light: #AD1D45;
    --yellow: #F9D276;
    --text: #CDCDCD;
}
::placeholder {
    /* font-weight: bold; */
    color: var(--dark);
    opacity: 80%;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #44000D;
}
header {
    /* border: 1px solid green; */
    background-color: var(--light);
    height: 8vh;
    padding: 0 20px;
    color: var(--yellow);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 25px;
}
header ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.main-nav ul {
    gap: 50px;
}
.main-nav ul a, .main-nav ul a:visited {
    color: var(--yellow);
}
.main-nav ul li {
    color: var(--yellow);
    opacity: 50%;
}
.main-nav ul li.active {
    opacity: 100%;
}

.dropdown {
    position: relative;
}

.link {
    background-color: transparent;
    border: none;
}

.bx-dots-horizontal-rounded {
    font-size: 30px;
    color: var(--yellow);
}

.dropdown-menu {
    position: absolute;
    right: 0;
    z-index: 100;
    top: calc(100% + 0.25rem);
    background-color: var(--yellow);
    opacity: 0;
    /* height: 20px; */
    width: 100px;
    pointer-events: none;
    transform: translateY(-10px);
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

.dropdown-menu a {
    padding: 5px 20px;
    text-align: right;
    display: block;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    /* border: 1px solid red; */
}

.dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.content {
    height: 92vh;
    display: flex;
    /* border: 1px solid blue; */
}
.contact {
    width: 30vw;
    /* background-color: var(--dark); */
}
.profile-panel {
    background-color: var(--moderate);
    padding: 20px;
    /* border: 1px solid red; */
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-panel h2 {
    align-self: flex-start;
    color: var(--text);
}
.profile-panel img {
    height: 120px;
    /* border: 1px solid red; */
}
.profile-detail {
    margin-top: 20px;
    align-self: flex-start;
    flex-direction: row;
    width: 100%;
    font-size: 15px;
    color: var(--text);
    /* border: 1px solid blue; */
}
.profile-detail .detail {
    display: flex;
    /* border: 1px solid black; */
}
.profile-detail .detail:not(:last-child) {
    margin-bottom: 10px;
}
.profile-detail p {
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    /* border: 1px solid red; */
}
.profile-detail p.bold {
    font-weight: bold;
}
.bx-edit {
    width: 10%;
    text-align: right;
    color: var(--yellow);
    /* border: 1px solid black; */
}
.divider {
    height: .5%;
}
.list {
    height: 54.5%;
    overflow-y: scroll;
    scrollbar-color: var(--yellow) var(--moderate);
    scrollbar-width: thin;
    background-color: var(--moderate);
    /* border: 1px solid #008000; */
}
.list h3.header {
    /* border: 1px solid red; */
    padding: 20px 20px 10px 20px;
    /* border-bottom: 1px solid var(--text); */
    color: var(--text);
}
.list::-webkit-scrollbar {
    width: 0px;
    border-radius: 100%;
}
.list::-webkit-scrollbar-track {
    background-color: var(--moderate);
    border-radius: 10px;
}

.list::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
    border-radius: 10px;
}

.wrapper {
    padding: 5px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light);
    /* border: 1px solid green; */
}

.wrapper img {
    /* border: 1px solid black; */
    height: 60px;
    width: 60px;
}

.wrapper .info {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    color: var(--text);
    margin: 0 20px 0 10px;
    /* align-content: flex-end; */
}

.wrapper .info h3 {
    /* border: 1px solid black; */
    height: 50%;
}

.wrapper .info p {
    /* border: 1px solid white; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    /* height: 50%; */
    /* overflow: hidden; */
    font-size: 12px;
}

.bx-heart, .bxs-heart {
    font-size: 25px;
    color: var(--text);
}

.wrapper:hover {
    background-color: rgba(255, 255, 255, 0.06);
}


.chat {
    position: relative;
}

.empty-list {
    color: var(--yellow);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    /* border: 1px solid blue; */
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bx-message-dots {
    font-size: 150px;
    margin-bottom: 20px;
}

.chat {
    width: 70vw;
}

.chat-list {
    display: none;
    height: 100%;
}

.chat .active {
    display: block;
}

.chat-header {
    padding: 5px 20px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--moderate);
}

.profile {
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.profile img {
    height: 100%;
}

.profile p {
    font-size: 25px;
    font-weight: bold;
    color: var(--text);
    margin-left: 20px;
}

.chat-icon .bx:not(:last-child) {
    margin-right: 20px;
}

.chat-icon .bx {
    font-size: 30px;
    /* border: 1px solid black; */
    color: var(--yellow);
}

.chat-content {
    height: 81%;
    overflow-y: scroll;
    scrollbar-color: var(--yellow) var(--dark);
    scrollbar-width: thin;
    /* border: 1px solid blue; */
    position: relative;
}

.chat-content-list {
    /* height: 1000px; */
    min-height: 100%;
    /* border: 1px solid black; */
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bubble-chat {
    margin: 5px 0;
    width: fit-content;
    max-width: 80%;
    padding: 10px 20px;
    background-color: var(--light);
    border-radius: 5px;
    /* border: 1px solid red; */
}

.bubble-chat.user {
    background-color: var(--yellow);
    align-self: flex-end;
}

.bubble-chat.friend + .bubble-chat.userr {
    margin: 10px 0;
}

.chat-bar {
    height: 9%;
    /* border: 1px solid green; */
    background-color: var(--light);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-bar .bx {
    /* border: 1px solid red; */
    border-radius: 100%;
    padding: 10px;
}

.chat-bar .bx:hover, .chat-bar .bx:focus {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.chat-bar-icon {
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}

.bx-send {
    /* width: 4%; */
    text-align: right;
    border: none;
    background-color: transparent;
}

.chat-bar .bx {
    /* height: 100%: */
    font-size: 30px;
    color: var(--yellow);
    /* border: 1px solid red; */
}

.chat-box {
    /* border: 1px solid red; */
    height: 100%;
    width: 82%;
    display: flex;
    align-items: center;
}

.chat-box input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    outline: none;
    font-weight: none;
    font-size: 15px;
    background-color: var(--moderate);
}

.upload-doc > input, .upload-pic > input {
    display: none;
}

.file-upload {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.file-upload .upload-list {
    background-color: transparent;
    border: none;
}

.upload-dropdown-menu {
    z-index: 100;
    position: absolute;
    bottom: calc(100% + 0.8rem);
    pointer-events: none;
    opacity: 0;
    transition: 200ms ease-in-out;
}

.file-upload.active > .upload-list + .upload-dropdown-menu {
    pointer-events: auto;
    opacity: 1;
    transition: 200ms ease-in-out;
}

.upload-dropdown-menu .upload-doc {
    margin-bottom: 0.8rem;
}

.upload-dropdown-menu .bx {
    border: none;
    color: var(--text);
}

.upload-dropdown-menu .bx-file, .upload-dropdown-menu .bx-file:hover, .upload-dropdown-menu .bx-file:focus {
    background-color: rgb(0, 82, 0);
}

.upload-dropdown-menu .bx-photo-album, .upload-dropdown-menu .bx-photo-album:hover, .upload-dropdown-menu .bx-photo-album:focus {
    background-color: rgb(135, 88, 0);
}

.file-preview {
    display: none;
}

.file-preview.active {
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    top: 0;
    right: 0;
}

.file-preview .bx-x {
    /* color: var(--text); */
    font-size: 30px;
    padding: 10px;
    /* border: 1px solid white; */
    height: 8%;
    /* border: 1px solid white; */
}

.file-preview .bx-x:hover {
    cursor: pointer;
    background-color: transparent;
}

.preview-image {
    /* display: flex; */
    height: 82%;
    /* justify-content: center; */
    position: relative;
    /* align-items: center; */
    border: 1px solid red;
    width: 100%;
}

.preview-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid blue;
    width: 50%;
    height: 80%;
}

.submit-file {
    border: 1px solid red;
    padding: 10px 20px;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.file-preview .bx-send {
    border: 1px solid red;
}